push argument 0 
push constant 0
lt
if-goto flag1
push argument 0
pop argument 1
push constant 0
pop argument 2
push constant 0
pop argument 3
push argument 0 
goto end

label flag1
push constant 1
pop argument 2

push argument 0
if-goto flag2
push constant 32767
and
if-goto flag2

push argument 0
neg
pop argument 1
goto end

label flag2
push constant 1
pop argument 3
push argument 0
pop argument 1

label end


