push argument 0
push constant 0
lt
if-goto makepositive


push argument 0
pop temp 0
push argument 0
pop temp 2
goto square

label makepositive
push argument 0
neg
pop temp 0

push argument 0
neg
pop temp 2
goto square

label square
push constant 1
pop temp 1

goto loop

label loop

push constant 1
push temp 0
eq
if-goto end_loop
push temp 2
push temp 1
eq
if-goto end_loop
push temp 0
push temp 2
add
pop temp 0

push temp 1
push constant 1
add
pop temp 1
goto loop

label end_loop
push temp 0
